/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #004d40;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.intro {
    padding: 4em 1em;
    background: #e0f7fa;
    text-align: center;
}

.comparison {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4em 1em;
    background: #ffffff;
}

.comparison:nth-of-type(even) {
    background: #b2dfdb;
}

.container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.text, .image {
    flex: 1;
    padding: 1em;
}

.text {
    order: 1;
}

.image {
    order: 2;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background: #004d40;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
}
